<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="jmsExecutor"
          class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
        <property name="poolSize" value="${executor.corePoolSize}"/>
        <property name="awaitTerminationSeconds" value="${executor.keepAliveSeconds}"/>
        <property name="threadNamePrefix" value="JmsExecutor_"/>
        <property name="waitForTasksToCompleteOnShutdown" value="true"/>
        <property name="errorHandler" >
            <bean class="com.xujinxin.activemq.utils.ThreadPollErrorHandler"/>
        </property>
        <property name="rejectedExecutionHandler">
            <bean class="com.xujinxin.activemq.utils.TaskRejectedExecutionHandler"/>
        </property>

    </bean>

</beans>
