<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
           	http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 配置JMS连接工厂 -->
    <bean id="connectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${mq.address}"/>
    </bean>

    <!-- 配置Session连接池 -->
    <bean id="cachingConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <property name="targetConnectionFactory" ref="connectionFactory"/>
        <property name="sessionCacheSize" value="10"/>
    </bean>


    <!-- 配置JMS模版 -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="cachingConnectionFactory"/>
        <property name="messageConverter" ref="messageConverter"/>
        <property name="defaultDestination" ref="requestDestination"/>
    </bean>

    <!-- 发送消息的目的地（一个队列） -->
    <bean id="requestDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <!-- 设置消息队列的名字 -->
        <constructor-arg index="0" value="${queue.request.name}"/>
    </bean>
    <!--订单消息格式转换器-->
    <bean id="messageConverter" class="com.xujinxin.activemq.utils.OrderMessageConverter"/>

    <!-- 消息生产者 -->
    <bean id="producer" class="com.xujinxin.activemq.service.queue.impl.ProducerImpl"/>

    <!-- 消息消费者 -->
    <bean id="consumer" class="com.xujinxin.activemq.service.queue.impl.ConsumerImpl"/>

    <!-- 监听容器 -->
    <bean id="jmsContainerRequest" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="cachingConnectionFactory"/>
        <property name="destination" ref="requestDestination"/>
        <property name="messageListener" ref="consumer"/>
        <property name="taskExecutor" ref="commonExecutor"/>
    </bean>


</beans>
