<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="jmsExecutor"
          class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="${executor.corePoolSize}"/>
        <property name="keepAliveSeconds" value="${executor.keepAliveSeconds}"/>
        <property name="maxPoolSize" value="${executor.maxPoolSize}"/>
        <property name="queueCapacity" value="${executor.queueCapacity}"/>
        <property name="threadNamePrefix" value="JmsExecutor_"/>
    </bean>

</beans>
